@import "./fonts.css";
@import "./root.css";
@import "./normalize.css";
@import "./base.css";

.header {
  background-image: url(../images/image-hero-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30rem;
}
.header__container {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sitenav__list {
  display: flex;
  gap: 3.2rem;
}
/* .sitenav__list {
} */
.sitenav__link {
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 500;
  transition: 0.3s;
  &:hover {
    color: var(--primary-color);
  }
}
.btn-burger {
  border: none;
  background-color: transparent;
  display: none;
}
.hero-container {
  margin-top: -9rem;
  margin-bottom: 2rem;
}
.main-section {
  background-color: var(--white-color);
  width: 730px;
  padding: 5rem 4.7rem;
  border: 1px solid hsla(0, 0%, 0%, 0.055);
  border-radius: 8px;
}
.hero__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__img {
  margin-top: -8rem;
}
.hero__title {
  color: var(--black-color);
  font-size: 2.4rem;
  font-weight: 700;
  align-items: center;
  padding-top: 3.2rem;
  margin-bottom: 1.8rem;
}
.hero__btns {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__btns__btn {
  padding: 2rem 4.1rem;
  background-color: var(--primary-color);
  border: none;
  font-size: 16px;
  border-radius: 3.4rem;
  color: var(--white-color);
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: var(--button-color);
  }
}
.bookmark {
  display: flex;
  width: 174px;
  height: 56px;
  border-radius: 50px;
  background-color: rgba(46, 46, 46, 0.075);
  align-items: center;
  gap: 1rem;
}
/* STATISTIC CARD */
.statistic-card {
  width: 730px;
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
  margin-bottom: 2.4rem;
}
.statistic-card__items {
  display: flex;
}
.statistic-card__item:nth-child(3) {
  border-right: none;
}
.statistic-card__item:nth-child(1) {
  padding-right: 4.2rem;
  margin-right: 4.7rem;
}
.statistic-card__item:nth-child(2) {
  padding-right: 9.1rem;
  margin-right: 4.7rem;
}
.statistic-card__item {
  border-right: 1px solid rgba(0, 0, 0, 15%);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.statistic-card__item h4 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
  color: var(--black-color);
}
.statistic-card__item p {
  font-size: 1.5rem;
}
.statistic-prosenet {
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 15%);
}
.statistic-prosenet__item {
  width: 78%;
  height: 100%;
  background-color: #3cb3ab;
  z-index: 2;
  border-radius: 8px;
}
/* about project */
.about-project__description__title {
  margin-bottom: 3.5rem;
  color: var(--black-color);
}
.about-project__description__subtitle {
  margin-bottom: 4rem;
}
.about-project__cards {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.about-project__card {
  border: 1.5px solid rgba(0, 0, 0, 20%);
  padding: 3.6rem 3.2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 10px 0px;
  }
}

.about-project__card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-project__card__title h5 {
  font-size: 1.8rem;
  color: var(--black-color);
  font-weight: 700;
}
.about-project__card__title p {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.about-project__card__subtitle {
  line-height: 3rem;
}
.about-project__card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-project__card__buttons h4 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--black-color);
  font-size: 3.2rem;
}
.about-project__card__buttons h4 span {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
}
.about-project__card__buttons .button-card {
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--primary-color);
  padding: 1.5rem 3.2rem;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  &:hover {
    background-color: var(--button-color);
    cursor: pointer;
  }
}
.about-project__card__disebled {
  opacity: 50%;
}
.about-project__card__buttons .disebled-btn {
  background-color: rgba(0, 0, 0, 1);
}

/* responsive */
/* breakpoints */
@media (max-width: 470px) {
  .header {
    background-image: url(../images/image-hero-mobile.jpg);
  }
  .header__container {
    padding: 3.2rem 2.4rem;
  }
  .sitenav__list {
    display: none;
  }
  .btn-burger {
    display: block;
  }
  .hero-container {
    margin-top: -7rem;
  }
  .hero__btns__btn {
    font-size: 1.4rem;
  }
  .hero__img {
    margin-top: -5.5rem;
  }
  .hero__title {
    font-size: 2.04rem;
    text-align: center;
    padding-top: 2.3rem;
  }
  .hero__subtitle {
    text-align: center;
    font-size: 1.4rem;
  }
  .hero__btns {
    margin-top: 3rem;
    gap: 0.9rem;
  }
  .main-section {
    max-width: 327px;
    padding: 2.4rem;
  }
  .bookmark {
    width: 56px;
    height: 56px;
    border-radius: 50px;
  }
  .bookmark span {
    display: none;
  }
  .statistic-card {
    gap: 1.7rem;
  }
  .statistic-card__items {
    flex-direction: column;
  }
  .statistic-card__item h4 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.9rem;
    color: var(--black-color);
    text-align: center;
  }
  .statistic-card__item:nth-child(3) {
    border-right: none;
  }
  .statistic-card__item:nth-child(1) {
    margin-right: 0;
    padding-right: 0;
  }
  .statistic-card__item:nth-child(2) {
    padding-right: 0;
    margin-right: 0;
  }
  .statistic-card__item:nth-child(3) {
    border: none;
  }
  .statistic-card__item {
    border-right: none;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem; */
  }
  .statistic-card__item::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: rgba(0, 0, 0, 15%);
    margin: auto;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
  .statistic-card__item:nth-child(3)::after {
    width: 0;
    margin: 0;
    padding: 0;
  }

  .statistic-card__item p {
    text-align: center;
  }
  .about-project__card__title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
  }
  .about-project__card__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;
  }
}
